@import "tailwindcss";
@config "../tailwind.config.js";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@500;600;700;800&display=swap');

@theme {
  --font-sans: "Inter", "sans-serif";
  --font-heading: "Manrope", "sans-serif";

  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-200: #a7f3d0;
  --color-emerald-300: #6ee7b7;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
  --color-emerald-800: #065f46;
  --color-emerald-900: #064e3b;
}

@layer base {
  body {
    @apply font-sans;
    color: var(--color-slate-900);
    background-color: white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

* {
  scroll-behavior: smooth;
}